<template>
  <div>
    <svg id="chart" height="100">
      <circle class="candidate" v-for="(candidate, index) in candidates" :key='index'/>
    </svg>
  </div>
</template>

<script>
import * as d3 from "d3"
import { mapGetters } from 'vuex'

export default ({
  data: function() {
    return {
      circles: [],
      w: 10,
      h: 20
    }
  },

  computed: {
    ...mapGetters({
      candidates: 'getCandidates',
    }),
    width: function () {
      return document.getElementById("chart").parentNode.clientWidth
    },
    height: function () {
      return this.width * 2
    }
  },

  watch: {
    //change in candidates
    candidates: {
      deep: true,
      handler: function() {
        this.calculateRanks()
      }
    }
  },

  mounted: function() {
    this.createLine()
    this.initiatePoints()
  },

  methods: {
    x: function(v) {
      const x = d3
          .scaleLinear()
          .domain([0, this.w])
          .range([0, this.width])
        return x(v)
    },
    y: function(v) {
      const y = d3
          .scaleLinear()
          .domain([this.h, 0])
          .range([0, this.height])
        return y(v)
    },
    rank2x: function(r) {
      return (r % this.w) + 0.5 + 0.1
    },
    rank2y: function(r) {
      return Math.floor(r / this.w) + 0.5 + 0.1
    },

    // move the points
    move: function() {
      let $this = this
      const svg = d3
          .select("#chart")

      let points = svg.selectAll(".candidate")
        .data(this.candidates)

      points
        .transition()
          .duration(1000)
          .attr("cx", function(d) { return $this.x($this.rank2x(d.total_rank))})
          .attr("cy", function(d) { return $this.y($this.rank2y(d.total_rank))})
    },

    // calculate total ranks from selected points
    calculateRanks: function() {
      let $this = this
      let r = 0
      for (let i = 0; i < this.candidates.length; i++) {
        if ($this.candidates[i].selected) {
          $this.candidates[i].total_rank = r
          r++
        } else {
          $this.candidates[i].total_rank = 300
        }
      }

      this.move()
    },

    createLine: function() {
      let $this = this
      const svg = d3
        .select("#chart")

      let lines = [100]
      
      lines.forEach(line => {
        svg
          .append("line")
          .attr("x1", function() { return $this.x(0)})
          .attr("x2", function() { return $this.x($this.width) })
          .attr("y1", function() { return $this.y(line / 200 * $this.h) - 3 })
          .attr("y2", function() { return $this.y(line / 200 * $this.h) })
          .attr("style", "stroke:rgb(22,22,22);stroke-width:3")
      })
        
      //   svg
      //     .append("text")
      //     .attr("x", function() { return $this.x($this.w * line / 2 / 100) + 2 })
      //     .attr("y", function() { return $this.y(-1.75) })
      //     .attr("style", function() { return "font: bold " + ($this.height / 3) + "px sans-serif; fill: #CAA" })
      //     .text(line)
      // })
      // svg
      //     .append("line")
      //     .attr("x1", function() { return $this.x($this.w * 100 / 2 / 100) })
      //     .attr("x2", function() { return $this.x($this.w * 100 / 2 / 100) })
      //     .attr("y1", function() { return $this.y(-2) })
      //     .attr("y2", function() { return $this.y($this.h + 1) })
      //     .attr("style", "stroke:rgb(200,100,100);stroke-width:1.5")

    },
    initiatePoints: function() {
      let $this = this
      const svg = d3
        .select("#chart")

      // svg size
      svg
        .attr("width", function() { return $this.width + 6 })
        .attr("height", function() { return $this.height })

      // points
      let circles = svg.selectAll(".candidate")
          .data(this.candidates)
      
      this.calculateRanks()

      circles
        .attr("cx", function(d) { return $this.x($this.rank2x(d.total_rank))})
        .attr("cy", function(d) { return $this.y($this.rank2y(d.total_rank))})
        .attr("r", $this.width / $this.w / 2 - 2)
        .attr("fill", function(d) { return d.color })
        .attr("fill-opacity", function(d) {  return 1 - d.level * 0.5 })
        .attr("stroke", function(d) { return d.color })
        .attr("stroke-opacity", 0.75)
        .attr("stroke-width", 3)

      this.circles = circles

    }

  },
})
</script>

<style scooped>
  #chart {
    border: 1px solid #AAA;
    /* margin: 2px; */
    /* border-right: 0; */
    /* width: min(650px, 100vw); */
  }
</style>