<template>
  <div>
    <div>
      <span v-for="(party, index) in parties" :key='index' class="card">
        <button 
          @click='clicked(party)'
          class="btn btn-block"
          :class="[isSelected[index] ? activeClass : notActiveClass ]"
        >{{ party.name }}</button>
      </span>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default ({
  data: function() {
    let isSelected = Array.from({length: this.$store.state.parties.length}, () => false)
    return {
      isSelected,
      activeClass: 'btn-outline-info',
      notActiveClass: 'btn-outline-secondary',
    }
  },
  computed: {
    // parties from store
    parties: function() {
      return this.$store.state.parties
    }
  },
  mounted: function() {
    let $this = this
    this.parties.forEach((party, i) => {
      $this.isSelected[i] = party.selected
    })
    this.analytics('loaded')
  },
  methods: {
    // clisked any party button
    clicked: function(p) {
      this.isSelected[p.rank - 1] = !(this.isSelected[p.rank - 1])
      this.$store.commit('clicked', p)
      this.analytics(p.name)
    },
    analytics: function(n) {
      let params = {
        action: n
      }
      axios.get('https://hlasovali.cz/', {params: params})
    }
  }
})
</script>