<template>
  <div class="app p-1">
    <div class="row">
      <div class="col-6">
        <Chart/>
      </div>
      <div class="col-6">
        <Controls/>
      </div>
    </div>
    <div class="row">
      <Text/>
    </div>
  </div>
</template>

<script>
import Chart from './components/Chart.vue'
import Text from './components/Text.vue'
import Controls from './components/Controls.vue'

export default {
  name: 'App',
  components: {
    Chart,
    Text,
    Controls
  }
}
</script>

<style scoped>
  .app {
    background-color: rgb(255, 245, 245)
  }
</style>
